<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наши адреса</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="address.css">
</head>
<body>
    <div th:replace="blocks/header :: header"></div>
    <div class="container">
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2473.9300149885066!2d39.212563376521786!3d51.67942407185293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2f055b682aaf%3A0xc6fa43cbabbc94cd!2z0L_RgC4g0KDQtdCy0L7Qu9GO0YbQuNC4LCA1LCDQktC-0YDQvtC90LXQtiwg0JLQvtGA0L7QvdC10LbRgdC60LDRjyDQvtCx0LsuLCDQoNC-0YHRgdC40Y8sIDM5NDAzNg!5e0!3m2!1sru!2sse!4v1729581681413!5m2!1sru!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="info-container">
            <h2>Контактная информация</h2>
            <p>г. Воронеж, пр. Революции, 5</p>
            <p>Email: car.performance@mail.ru</p>
            <p>Телефон: +7 800 555 35 35</p>
        </div>
    </div>
</body>
</html>