<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Запчасти в наличии - CarPerformance</title>
    <link rel="stylesheet" th:href="@{/parts.css}">
</head>
<body>
<div th:replace="blocks/header :: header"></div>
<div class="container">
    <h1>Запчасти в наличии</h1>

    <form action="/parts/add" method="post">
        <input type="text" name="partName" placeholder="Part Name" required />
        <input type="text" name="partNumber" placeholder="Part Number" required />
        <button type="submit" class="nav-button">Add New Part</button>
    </form>

    <form action="/parts/search" method="get">
        <input type="text" name="partName" placeholder="Search by part name" required />
        <button type="submit" class="nav-button">Search</button>
    </form>

    <div class="parts-list">
        <div th:each="part : ${parts}" class="part-item">
            <h2 th:text="${part.partName}"></h2>
            <p th:text="'Part Number: ' + ${part.partNumber}"></p>

            <a th:href="@{/parts/edit/{id}(id=${part.id})}" class="make-order-edit-delete-button">Edit</a>
            <a th:href="@{/parts/delete/{id}(id=${part.id})}" class="make-order-edit-delete-button">Delete</a>
        </div>
    </div>
</div>
</body>
</html>
